---
- name: Ensure apt is up to date and install necessary packages
  apt:
    update_cache: yes
    name:
      - make
      - protobuf-compiler
    state: present
  tags:
    - update
    - packages

- name: Create application directory
  file:
    path: "{{ app_dir }}"
    state: directory
    mode: '0755'
  tags:
    - directory

- name: Clone the repository
  git:
    repo: "{{ repo_url }}"
    dest: "{{ app_dir }}"
    version: "{{ branch }}"
    force: yes
    update: yes
  tags:
    - git

- name: Download and install Go binary
  block:
    - name: Download Go binary
      get_url:
        url: "https://go.dev/dl/go{{ go_version }}.linux-amd64.tar.gz"
        dest: "/tmp/go{{ go_version }}.linux-amd64.tar.gz"

    - name: Extract Go binary
      unarchive:
        src: "/tmp/go{{ go_version }}.linux-amd64.tar.gz"
        dest: "/usr/local"
        remote_src: yes
  tags:
    - go

- name: Install Go tools
  shell: |
    go install google.golang.org/protobuf/cmd/protoc-gen-go@latest && \
    go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
  environment:
    PATH: "/usr/local/go/bin"
  tags:
    - go-tools

- name: Build the application with make
  shell: make {{ target }}
  args:
    chdir: "{{ app_dir }}"
  environment:
    PATH: "/usr/bin:{{ ansible_env.PATH }}:/usr/local/go/bin:{{ ansible_env.HOME }}/go/bin"
  tags:
    - build

- name: Copy the configuration file
  copy:
    src: "{{ config }}"
    dest: "{{ app_dir }}/config.yaml"
    mode: '0644'

- name: Create logging directory
  file:
    path: "/var/log/gale-node"
    state: directory
    mode: '0755'
  tags:
    - directory

- name: Template systemd service file
  template:
    src: "templates/systemd-node.service.j2"
    dest: "/etc/systemd/system/gale-node.service"
    mode: '0644'

- name: Reload systemd daemon
  command: systemctl daemon-reload

- name: Enable service
  systemd:
    name: "gale-node"
    enabled: yes

- name: Restart service
  systemd:
    name: "gale-node"
    state: restarted
